.theme-dark {
    background-color: #2f3241;
    color: white;
}

.theme-light {
    /*background-color: #f8f9fa;*/
    background-color: white;
    color: black;
}

.nav-buttons-fa {
    font-family: 'B Nazanin', serif;
    font-size: 23px;
    color: white;
}

.font-bn {
    font-family: 'B Nazanin', serif;
}


.member-name {
    font-family: 'B Nazanin', serif;
    font-size: 17px;
}

.member-id {
    font-size: 13px;
    color: lightgray;
}
